# All options are optional, remove those you do not need
VITE_CUSTOM_API_ENDPOINT=
VITE_DEFAULT_API_ENDPOINT=
VITE_OPENAI_API_KEY= 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
VITE_DEFAULT_SYSTEM_MESSAGE= SCRENOX HERE    # Remove this line if you want to use the default system message of Better ChatGPT
VITE_GOOGLE_CLIENT_ID=           # for syncing data with google drive
